h1 {
    background-color: rgb(0,0,0,0.5);
    padding: 20px;
    color: antiquewhite;
    text-align: center;
}
body {
    background-image: url(../images/psychicbg.jpg);
}
.container {
    background-color:rgb(0, 0, 75, 0.5);
    color: bisque;
}
img {
    width: 100%;
    margin: 0 0 20px 0;
}